/* Base */
:root {
  --primary-color-white: #ffffff;
  --primary-color-light-blue: #2b7fff;
  --primary-color-dark-blue: #011c44;
  --secondary-color-dark-blue: #011f4a;
  --secondary-color-light-grey: #747272;
  --secondary-color-dark-grey: #4a4a4a;
}

/* Base */
body {
  color: var(--primary-color-dark-blue);
}
h2 span {
  color: var(--primary-color-light-blue);
}

ul {
  list-style-type: none;
}

/* Link */
.link {
  color: var(--primary-color-dark-blue);
}

.link:hover {
  color: var(--primary-color-light-blue);
}

/* Button */

.button {
  color: #ffffff;
  background-color: var(--primary-color-light-blue);
  border: 2px solid var(--primary-color-light-blue);
  border-radius: 32px;
  cursor: pointer;
  padding: auto;
}

.button:hover {
  color: var(--primary-color-dark-blue);
  background-color: transparent;
}

/* Hero section */

.Hero-title {
  color: var(--primary-color-light-blue);
}
