/* play-700 - latin
@font-face {
  font-display: swap;
  font-family: 'Play';
  font-weight: 700;
  src: url('../fonts/play-v19-latin-700.woff2') format('woff2');
} */
/* roboto-regular - latin */
@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 400;
  src: url('../fonts/roboto-v47-latin-regular.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 600;
  src: url('../fonts/roboto-v47-latin-600.woff2') format('woff2');
}

@font-face {
  font-display: swap;
  font-family: 'Roboto';
  font-weight: 700;
  src: url('../fonts/roboto-v47-latin-700.woff2') format('woff2');
}

/* Root */
:root {
  --primary-color-white: #ffffff;
  --primary-color-light-blue: #2b7fff;
  --primary-color-dark-blue: #011c44;
  --secondary-color-dark-blue: #011f4a;
  --secondary-color-light-grey: #747272;
  --secondary-color-dark-grey: #4a4a4a;
}

/* Base */
body {
  color: var(--primary-color-dark-blue);
  font-size: 18px;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}
h2 {
  font-size: 64px;
  font-weight: 700;
  text-align: center;
}
h2 span {
  color: var(--primary-color-light-blue);
}

ul {
  list-style-type: none;
}

/* Link */
.link {
  color: var(--primary-color-dark-blue);
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
}

.link:hover {
  color: var(--primary-color-light-blue);
  font-size: 18px;
  font-weight: 800;
}

/* Hero section */

.Hero-title {
  font-family: 'Play', sans-serif;
  color: var(--primary-color-light-blue);
  font-size: 140px;
  font-weight: 700;
  line-height: 81.428571%; /* 114/140 */
  text-transform: capitalize;
}

.button {
  color: #ffffff;
  background-color: var(--primary-color-light-blue);
  border: 2px solid var(--primary-color-light-blue);
  border-radius: 32px;
  cursor: pointer;
  height: 53px;
  width: 219px;
  font-size: 18px;
  font-weight: 600;
}

.button:hover {
  color: var(--primary-color-dark-blue);
  background-color: transparent;
}
/* About_us-section */

.about_us-text {
  font-size: 22px;
  line-height: 172.727273%; /* 38/22 */
}

.about_us-text span {
  font-weight: 600;
}
/* why_us-section */

/* procedures-section */
.procedures-item {
  font-size: 22px;
  line-height: 118.181818%; /* 26/22 */
}
.contact-text {
  font-size: 22px;
  font-weight: 600;
}

.contact-text span {
  color: var(--primary-color-light-blue);
}
.contact-txt {
  font-size: 12px;
  line-height: 150%; /* 18/12 */
  color: var(--secondary-color-light-grey);
}
.contact-txt span {
  text-decoration: underline;
}

/* Footer section */
.adress-copyright {
  font-size: 13px;
  color: var(--secondary-color-light-grey);
}
.link-adress {
  font-size: 16px;
  text-decoration: none;
}
